{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "products/vpn/includes/macros.html" import hero_image, join_waitlist_button, vpn_nav_cta, vpn_content_media, vpn_content_block with context %}

{% extends "products/vpn/base.html" %}

{% block page_title_full %}{{ ftl('vpn-landing-page-title') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}{{ ftl('vpn-landing-page-desc', countries=30) }}{% endblock %}

{% block body_id %}mozilla-vpn-landing{% endblock %}

{% set _utm_source = 'www.mozilla.org-vpn-product-page' %}
{% set _utm_campaign = 'vpn-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('mozilla-vpn-landing') }}
{% endblock %}

{% block site_header %}
  {% with
    custom_nav_cta=vpn_nav_cta(
      link_text=ftl('vpn-shared-subscribe-link'),
      alt_link_text=ftl('vpn-shared-waitlist-link'),
      sign_in_link_text=ftl('vpn-shared-sign-in-link'),
      utm_source=_utm_source,
      utm_campaign=_utm_campaign,
    )
  %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<main>
  <section class="vpn-hero">
    <div class="mzp-l-content mzp-t-content-xl">
      <div class="vpn-hero-container">
        <div class="vpn-hero-body">
          <h1 class="vpn-hero-title">{{ ftl('vpn-shared-product-name') }}</h1>
          <h2 class="vpn-hero-subtitle">{{ ftl('vpn-landing-hero-sub-heading') }}</h2>
          <div class="vpn-hero-desc">
            <p>{{ ftl('vpn-landing-hero-desc') }}</p>

            {{ vpn_subscribe_link(
              entrypoint=_utm_source,
              link_text=ftl('vpn-shared-subscribe-link'),
              class_name='mzp-c-button mzp-t-xl js-get-vpn',
              optional_parameters={
                'utm_campaign': _utm_campaign
              },
              optional_attributes={
                'data-cta-type': 'fxa-vpn',
                'data-cta-text': 'Get Mozilla VPN',
                'data-cta-position': 'primary',
              }
            ) }}
            <p class="guarantee-copy js-money-back-guarantee">
              {{ ftl('vpn-shared-money-back-guarantee') }}
            </p>

            {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), position='primary') }}
            <p class="availability-copy js-country-list">
              {{ ftl('vpn-shared-available-countries') }}
            </p>
          </div>
        </div>
        <div class="vpn-hero-image hide-from-legacy-ie" data-illustration="n-1">
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-01.png',
            'img/products/vpn/landing/vpn-hero-01-high-res.png',
            'n-1')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-02.png',
            'img/products/vpn/landing/vpn-hero-02-high-res.png',
            'n-2')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-03.png',
            'img/products/vpn/landing/vpn-hero-03-high-res.png',
            'n-3')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-04.png',
            'img/products/vpn/landing/vpn-hero-04-high-res.png',
            'n-4')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-05.png',
            'img/products/vpn/landing/vpn-hero-05-high-res.png',
            'n-5')
          }}
        </div>
      </div>
    </div>
  </section>

  <div class="mzp-l-content mzp-t-content-xl">

    {% include 'products/vpn/includes/pricing-fixed.html' %}

    {% call vpn_content_media(
      title=ftl('vpn-landing-privacy-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-01.png',
      class_name='vpn-content-media-right-half',
      has_outline=True,
      loading='eager'
    ) %}
      <p>{{ ftl('vpn-landing-privacy-desc') }}</p>
    {% endcall %}

    {% call vpn_content_media(
      title=ftl('vpn-landing-fast-secure-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-02.png',
      class_name='vpn-content-media-left-half'
    ) %}
      <p>{{ ftl('vpn-landing-fast-secure-desc', mullvad='https://mullvad.net/help/no-logging-data-policy/', wireguard='https://mullvad.net/help/why-wireguard/', attrs='target="_blank" rel="external noopener noreferrer"') }}</p>
    {% endcall %}

    {% call vpn_content_media(
      title=ftl('vpn-landing-brand-trust-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-03.png',
      class_name='vpn-content-media-right-half',
      has_outline=True
    ) %}
      <p>{{ ftl('vpn-landing-brand-trust-desc', url=url('mozorg.about.manifesto')) }}</p>
    {% endcall %}

    {% call vpn_content_media(
      title=ftl('vpn-shared-features-server-countries', servers=connect_servers, countries=connect_countries),
      image_url='img/products/vpn/landing/vpn-cntwell-05.png',
      class_name='vpn-content-media-left-half js-vpn-section-available'
    ) %}
      <p>{{ ftl('vpn-shared-features-full-list-servers', url='https://mullvad.net/servers/', attrs='target="_blank" rel="external noopener noreferrer"') }}</p>

      {{ vpn_subscribe_link(
        entrypoint=_utm_source,
        link_text=ftl('vpn-shared-subscribe-link'),
        class_name='mzp-c-button mzp-t-xl js-get-vpn',
        optional_parameters={
          'utm_campaign': _utm_campaign
        },
        optional_attributes={
          'data-cta-type': 'fxa-vpn',
          'data-cta-text': 'Get Mozilla VPN',
          'data-cta-position': 'secondary',
        }
      ) }}

      <p class="guarantee-copy js-money-back-guarantee">
        {{ ftl('vpn-shared-money-back-guarantee') }}
      </p>
    {% endcall %}

    {% call vpn_content_media(
      title=ftl('vpn-shared-countries-coming-soon', countries=available_countries),
      image_url='img/products/vpn/landing/vpn-cntwell-05.png',
      class_name='vpn-content-media-left-half js-vpn-section-not-available'
    ) %}

      {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), position='secondary') }}

      <p class="availability-copy js-country-list">
        {{ ftl('vpn-shared-available-countries') }}
      </p>
    {% endcall %}

  </div>

  <section class="vpn-faq mzp-l-content mzp-t-content-lg">
    <h2 class="vpn-faq-section-title">{{ ftl('vpn-landing-faq-heading') }}</h2>

    <details id="faq-usecases" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-langing-faq-uses-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-uses-question-desc', url='https://blog.mozilla.org/firefox/vpns-explained/' + _params) }}</p>

      <ol class="vpn-faq-item-detail mzp-u-list-styled">
        <li>{{ ftl('vpn-landing-faq-uses-conceal') }}</li>
        <li>{{ ftl('vpn-landing-faq-uses-encrypt') }}</li>
      </ol>

      <p class="vpn-faq-item-detail">
        {{ ftl('vpn-landing-faq-uses-examples', url='https://blog.mozilla.org/firefox/when-to-use-a-vpn/' + _params) }}
      </p>
    </details>

    <details id="faq-information" class="vpn-faq-item mzp-is-anchor-link">
      <summary  class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-info-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-info-question-desc', url=url('privacy.principles')) }}</p>
    </details>

    <details id="faq-privacy" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-protected-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-protected-question-desc', url='https://mullvad.net/help/why-wireguard/', attrs='target="_blank" rel="external noopener noreferrer"') }}</p>
    </details>

    <details id="faq-competitors" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-competition-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-competition-question-desc', url=url('mozorg.about.history')) }}</p>
    </details>

    <details id="faq-compatibility" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-compatibility-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-compatibility-question-desc') }}</p>

      <ol class="vpn-faq-item-detail mzp-u-list-styled">
        <li>{{ ftl('vpn-landing-faq-compatibility-question-desc-windows') }}</li>
        <li>{{ ftl('vpn-landing-faq-compatibility-question-desc-mac') }}</li>
        <li>{{ ftl('vpn-landing-faq-compatibility-question-desc-android') }}</li>
        <li>{{ ftl('vpn-landing-faq-compatibility-question-desc-ios') }}</li>
        <li>{{ ftl('vpn-landing-faq-compatibility-question-desc-linux') }}</li>
      </ol>
    </details>

    <details id="faq-refunds" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-refund-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-refund-question-desc') }}</p>
    </details>

    <details id="faq-subscriptions" class="vpn-faq-item mzp-is-anchor-link">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-manage-subscription-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-manage-subscription-question-desc') }}</p>
    </details>

    <footer class="vpn-faq-footer">
      <a class="vpn-faq-footer-link mzp-c-cta-link" href="https://support.mozilla.org/products/firefox-private-network-vpn{{ _params }}&utm_content=vpn-faq-see-more-link" data-cta-type="link" data-cta-text="FAQ See More">
        {{ ftl('vpn-landing-faq-link') }}
      </a>
    </footer>
  </section>

  <footer class="vpn-footer mzp-l-content mzp-t-content-xl">
    {% include 'products/vpn/includes/footer-subscribe.html' %}
    {% include 'products/vpn/includes/footer-legal.html' %}
  </footer>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('mozilla-vpn-landing') }}
{% endblock %}
